<!DOCTYPE html>
<html>
	<head>
		<title>MoviWise</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
			crossorigin="anonymous" />
		<link
			rel="stylesheet"
			href="/genrePage/genrePage.css" />
	</head>
	<body>
		<header class="container">
			<nav class="row">
				<div class="col logo col-lg-3 col-md-2 col-sm-3">MoviWise</div>

				<div class="col menu col-lg-6 col-md-7 col-sm-6">
					<a
						class="col"
						href="#"
						>Home</a
					>
					<a
						class="col"
						href="#"
						>Features</a
					>
					<a
						class="col"
						href="#"
						>Surprise</a
					>
					<a
						class="col"
						href="#"
						>About</a
					>
					<a
						class="col"
						href="#"
						>Review</a
					>
				</div>

				<div
					class="col register col-lg-2 col-md-2 col-sm-3 justify-content-end offset-1">
					<a
						href="javascript:introJs().setOption('showProgress',true).start();"
						>Login</a
					>
				</div>
			</nav>
			<hr />
		</header>
		<form
			name="genres"
			action="/user/selectGenre"
			method="post">
			<div id="genreContainer">
				<div class="genreCheckBoxes">
					<input
						type="checkbox"
						id="Action"
						name="Action"
						value="Action" />
					<label for="Action"
						>Action
						<span class="checkmark"></span>
					</label>
				</div>
				<div class="genreCheckBoxes">
					<input
						type="checkbox"
						id="Adventure"
						name="Adventure"
						value="Adventure" />
					<label for="Adventure"
						>Adventure
						<span class="checkmark"></span>
					</label>
				</div>
				<div class="genreCheckBoxes">
					<input
						type="checkbox"
						id="Animation"
						name="Animation"
						value="Animation" />
					<label for="Animation"
						>Animation
						<span class="checkmark"></span>
					</label>
				</div>
				<div class="genreCheckBoxes">
					<input
						type="checkbox"
						id="Crime"
						name="Crime"
						value="Crime" />
					<label for="Crime"
						>Crime
						<span class="checkmark"></span>
					</label>
				</div>
				<div class="genreCheckBoxes">
					<input
						type="checkbox"
						id="Comedy"
						name="Comedy"
						value="Comedy" />
					<label for="Comedy">
						Comedy
						<span class="checkmark"></span>
					</label>
				</div>
				<div class="genreCheckBoxes">
					<input
						type="checkbox"
						id="Drama"
						name="Drama"
						value="Drama" />
					<label for="Drama"
						>Drama
						<span class="checkmark"></span>
					</label>
				</div>

				<div class="genreCheckBoxes">
					<input
						type="checkbox"
						id="Fantasy"
						name="Fantasy"
						value="Fantasy" />
					<label for="Fantasy"
						>Fantasy
						<span class="checkmark"></span>
					</label>
				</div>

				<div class="genreCheckBoxes">
					<input
						type="checkbox"
						id="Family"
						name="Family"
						value="Family" />
					<label for="Family"
						>Family
						<span class="checkmark"></span>
					</label>
				</div>

				<div class="genreCheckBoxes">
					<input
						type="checkbox"
						id="Fiction"
						name="Fiction"
						value="Fiction" />
					<label for="Fiction"
						>Fiction
						<span class="checkmark"></span>
					</label>
				</div>

				<div class="genreCheckBoxes">
					<input
						type="checkbox"
						id="Horror"
						name="Horror"
						value="Horror" />
					<label for="Horror"
						>Horror
						<span class="checkmark"></span>
					</label>
				</div>

				<div class="genreCheckBoxes">
					<input
						type="checkbox"
						id="Thriller"
						name="Thriller"
						value="Thriller" />
					<label for="Thriller"
						>Thriller
						<span class="checkmark"></span>
					</label>
				</div>

				<div class="genreCheckBoxes">
					<input
						type="checkbox"
						id="Romance"
						name="Romance"
						value="Romance" />
					<label for="Romance"
						>Romance
						<span class="checkmark"></span>
					</label>
				</div>

				<div class="genreCheckBoxes">
					<input
						type="checkbox"
						id="Science"
						name="Science"
						value="Science" />
					<label for="Science"
						>Science
						<span class="checkmark"></span>
					</label>
				</div>
			</div>
			<input
				id="genreSubmit"
				type="submit"
				value="Submit" />
		</form>
	</body>
</html>
