<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genres</title>
</head>
<body>
    <form name="selectGenre" action="/user/selectGenre" method="post">

    <input type="checkbox" id="horror" name="horror" value="horror">
    <label>Horror</label><br>
    <input type="checkbox" id="Thriller" name="thriller" value="thriller">
    <label>Thriller</label><br>
    <input type="checkbox" id="comedy" name="comedy" value="comedy">
    <label>Comedy</label><br>
    <input type="checkbox" id="action" name="action" value="action">
    <label>Action</label><br>
    <input type="checkbox" id="scifi" name="scifi" value="scifi">
    <label>Sci-Fi</label><br>

    <input type='submit' Value="Submit">


    </form>
</body>
</html>