*{padding:0; margin:0; box-sizing:border-box;}
    body{
        /* background-image: linear-gradient(rgba(0,0,0,1) 10%, rgba(0,0,0,0.68), rgba(0,0,0,0.0) 80%"); */
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size:cover;
        overflow-x:hidden;
        font-family: sans-serif;
        /* color: maroon; */
    }
    header{
        font-family:sans-serif;
    }

    .logo{
        font-size:2em;
        letter-spacing:2px;
    }
    
    .menu a{
        text-decoration:none;
        color:black;
        padding: 10px 20px;
        font-size:1.4em;
        position:relative;
    }
    
    .menu a:before{
        content:'';
        /* color: white; */
        position:absolute;
        top:0;
        left:0;
        width:0;
        height:100%;
        border-bottom: 3px solid maroon;
        transition: 0.4s linear;

    }
    .menu a:hover:before{
        width: 90%;
    }
    .register a{
        text-decoration:none;
        color:#fff;
        padding: 0.6em 1em;
        font-size:1.4em;
        background: maroon;
        border-radius:0.5em;
        transition:0.4s;
        border:3px solid maroon;

    }
    .register a:hover{
        background: transparent;
        color:black;
    }

    h1{
        font-weight: bolder;
    }

    .row{               
        margin-top: 5vmin;
    }
    .main{
        display:flex;
        width:500px;
        height:300px;
        border: 3px solid black;
        border-radius: 30px;
        position:relative;
        left:10vh;
        top:10vh;
        overflow:hidden;
    }
    .main:hover{
        /* opacity: 0.7; */
        box-shadow:0 20px 35px rgba(0, 0, 0, 1);
    }
    .comments{
        display:flex;
        position:relative;
        bottom:30vh;
        left:90vh;
    }
    .like{
        text-decoration:none;
        font:30px;
        border:3px solid blue;
        display:flex;
        position:relative;
        bottom:27vh;
        left:90vh;
        height:50px;
        margin:50;
        padding:10px;
        text-align:center;
        width:100px;
        justify-content: center;
        border-radius:20px;
        color:#fff;
        background-color: blue;
        /* transition: 0.5s; */
        box-shadow:0 10px 10px rgba(0, 0, 0, 0.5);
    }
    .like:hover{
        background: transparent;
        color:#000;
    }
    .watch{
        text-decoration:none;
        font:30px;
        border:3px solid indianred;
        display:flex;
        position:relative;
        bottom:33.67vh;
        height:50px;
        left:105vh;
        margin:50;
        padding:10px;
        text-align:center;
        width:150px;
        justify-content: center;
        border-radius:20px;
        color:#fff;
        background-color: indianred;
        /* transition: 0.5s; */
        box-shadow:0 10px 10px rgba(0, 0, 0, 0.5);
    }
    .watch:hover{
        background: transparent;
        color:#000;
    }
    .description{
        display:fixed;
        position:relative;
        left:90vh;
        bottom:30vh;

    }

    


    /* MEDIA QUERIES */
    @media screen and (max-width: 1200px) {
        body{
            font-size: 2vh;
        }
    }

    @media screen and (max-width: 900px) {
        body{
            font-size: 1.8vh;
        }
    }

    @media screen and (max-width: 800px) {
        body{
            font-size: 1.6vh;
        }
        .prodimg{
            height: 35em;
            width: 35em;
        }
    }

    @media screen and (max-width: 650px) {
        body{
            font-size: 1.3vh;
        }

        .prodcaption{
            font-size: 1.2em;
        }
    }

    @media screen and (max-width:500px) {
     
        .menu {
            transform:scale(0);
        }
        .prodimg{
            height: 20%;
            width: 20%;
        }
    }


  

    